@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
  hyphens: auto;
  font: inherit;
  font-family: "Jost", sans-serif;
}
/*
    3. Allow percentage-based heights in the application
  */
html {
  font-size: 62.5%;
}
html,
body,
#__next {
  height: 100%;
}
/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  position: relative;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}
/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
ul,
ol {
  list-style: none;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
button {
  border: none;
  background: transparent;
  cursor: pointer;
}
a {
  text-decoration: none;
}
a,
button {
  transition: 0.3s ease-in-out;
}

/* custom classes */
.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.align-center {
  display: flex;
  align-items: center;
}
.align-start {
  display: flex;
  align-items: flex-start;
}
.fit-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.pos-abs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrap-text {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;
}
.lazy-img {
  opacity: 0;
  transform: translateY(-5rem) scale(0.5);
  transition: 0.5s ease-in-out;
}
.unlazied {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 0.0625rem;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 0.0625rem;
}
/* container */

.container {
  /* border: 1px solid red; */
  max-width: 111rem;
  margin: 0 auto;
  padding: 0 4rem;
}
@media all and (max-width: 768px) {
  .container {
  }
}
@media all and (max-width: 375px) {
  .container {
    padding: 0 2.4rem;
  }
}
* {
  border: 1px solid red;
}
